body{
  margin:0; 
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  color: #333;
}

.todo-app{ 
  margin-top: 2px; 
  position: relative;
  background: #fff;
  width: 400px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  padding: 20px 20px 0px 20px;
  animation: fadeIn 0.6s ease;
   height: 95vh;    
  display: flex;
  overflow: hidden;  /* IMPORTANT */
  flex-direction: column;  /* IMPORTANT */
 

} 
/* --- Top Bar --- */
.top-bar{

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #8790f3; */
  border-radius: 0px;
  padding: 20px 24px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  margin:-20px -20px 20px -20px;
  width: auto;
  height:60px;
  z-index: 10;

 background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);  

 /* background:linear-gradient(233deg, #5f95f2, #c59cf8, #7ea3e7, #81e9e2);*/
  background-size: 800% 800%; /*Make the gradient bigger for smooth flow */
  animation: gradientAnimation 15s ease infinite; /* Animation */
}
@keyframes gradientAnimation{
  0%{  background-position: 0% 50%; }
  50%{ background-position: 100% 50%; }
  100%{ background-position:  0% 50%; }
}


.top-bar .left{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo{
   width: 40px; 
   height:40px;
   object-fit: contain;
} 
.title-with-arrow{
  display:flex;
  padding:15px 15px 15px 0px;
  align-items: center;
  gap: 5px;
}
.title-with-arrow h2{
  white-space: nowrap;
}
.top-bar h2{  
 font-family: "Poppins", sans-serif;
 font-weight: 600;
 font-size:1.6rem ;
 font-weight: 600;
  color: #4a4949;
  /* color: #ffffff; */
  margin: 0;
}
.arrow-icon svg{
  margin-top: 6px ;
  width:25px;
  height: 25px;
  color: #333;
}
.right-tools{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5px;
}
/* Profile image */
.profile-box{
  width: 55px;
  height: 55px;
  border-radius: 25%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid white;
}
.profile-box img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.menu-dots{
  height: 40px;
  width: 40px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.5s ease;

}
.menu-dots:hover{
   background: #efefefb7;
   backdrop-filter: blur(10px) brightness(1.2);
}
.menu-icon{
  width: 40px;
  height: 40px;

}
.checkbox-icon{
  width: 40px;
  height: 40px;
}
.trash-icon{
  width: 40px;
  height: 40px;
}
.invite-icon{
 width: 40px;
 height: 40px;
}
.feedback-icon{
width: 40px;
height: 40px;
}

/*----------DROPDOWN--------------*/
.dropdown{
  position: absolute;
  top: 70px;
  left:20%;
  background: #ffffff;
  padding: 10px 0;
  width: 160px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
  z-index: 11;
  display:none;
  animation: fadeIn 0.18s ease;
  overflow: hidden;
}
.dropdown.show{
  display: block;
}
.dropdown-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  cursor: pointer;
  transition: background 0.15s ease;
}
.dropdown-item:hover{
  background: #f5f5f5;
}
.item-text{
font-weight: bold;
font-size: 20px;
color: #333;
}
.dropdownMore{
  position: absolute;
  top: 70px;
  right:3%;
  background: #ffffff;
  padding: 10px 0;
  width: 180px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
  z-index: 11;
  display:none;
  animation: fadeIn 0.18s ease;
  overflow: hidden;
}
.dropdownMore.show{display: block};
.dropdownMore .dropdown-item{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;
  cursor: pointer;
  transition: background 0.15s ease;
}
/* 
#showCompletedBtn {
  background: transparent;
  border: none;
  font-weight:800;
  color: #f8f6f6;
  font-size: 15px;
  cursor: pointer;
}
#showCompletedBtn:hover {
  color: #4f4646;
  border-color: #4a63d7;
} */
/* Collapsed placeholder*/
.placeholder{
  padding: 12px;
  border: 1px solid #949090;
   border-radius:8px;
  /* border-radius: 0px 12px 0px 12px; */
  cursor:text ;
  color: #807e7e;
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}

/*Task form*/
.task-form{
  /**/
  display: none;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
  animation: fadeIn 0.3s ease;
}
.task-form input[type="text"],
.task-form textarea{
border: none;
outline:none;
font-size: 16px;
width: 100%;
background: transparent;
padding: 8px 0;
border-bottom: 2px solid #ddd;
transition: border-color 0.2s ease;
resize: none;
caret-color: #4a63d7;
}
.task-form input[type="text"]:focus,
  .task-form textarea:focus {
    border-color: #4a63d7; /* Todoist red */
  }

#task-title{
 font-weight: bold;
 font-size: 20px;
}
.task-form textarea {
  resize: none;
  height: 20px;
}
.task-form select{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

  /* Date & Priority container */
  .inline-selects {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
/* Custom date picker styling */
#custom-date{
  border: 2px soid #667eea;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  color: #333;
  background-color: #e6edff;
  cursor:pointer ;
  transition: border 0.3s, box-shadow 0.3s;

}
#custom-date:focus{
  outline: none;
  border-color: #4a63d7;
  box-shadow:  0 0 5px #667eea;
}
 .form-divider{
 border-bottom: 1px solid grey;
margin: 5px -20px 0px -20px;
width: calc(100% +40px);

  
 }
.form-actions{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 8px 0;
}
.btn{
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.btn-cancel{
  background: #eee;
  color: #333;
}
.btn-cancel:hover{
  background: #9c9898;
}
.btn-add{
  background: #aaa;
  color: #fff;  
 
}
.btn-add:hover{
  background:#3857e0; 
}
.btn-add.active{
  background: #4a63d7; /* Blue when typing */

}


/*----- Default Desktop -----*/
.text-btn{
  display: inline-block;
}
.icon-btn{
  display: none;
}

/* Icon button style (for phones) */
.btn-cancel.icon-btn{
  color: #aaa; 
  font-size: 22px;
}
.btn-add.icon-btn{
  padding: 8px 12px;
  color: #aaa;
  background:#eee ;
}
.btn-add.icon-btn svg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-add.icon-btn:hover{
  color: white;
  background-color: #4a67e8;
}
.btn-add.icon-btn.active{
  background-color: #4a67e8;
  color: #ffffff;
}
/* Task list */
.todo-container{
  flex: 1;
  overflow-y: auto;
  overflow-x: visible;
  padding: 5px 5px 40px 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;

}
 .todo-container::-webkit-scrollbar,
 .completed-container::-webkit-scrollbar{
  width: 6px;
 }
/* Hide by default */
.hidden{ display: none;}

.task-card {
  background: #fafafa;
  border-radius: 12px;
  padding:12px 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  gap: 6px;
   position: relative; /*❓🙋🏻‍♂️⁉❔ */
   transition: transform 0.4s ease, opacity 0.4s ease;/**/
}
/* .task-card:hover{
  transform: translateY(-6px)scale(1.02);
 box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.8); 
} */
.task-header{
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-header input[type="checkbox"]{
  transform: scale(1.2);
  cursor: pointer;

}
.task-title{font-weight: bold;flex: 1;}
.task-desc{
  font-size: 13px;
  color: #666;
  margin-left: 28px;
}
.task-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-left: 28px;
}

/* Priority Flags*/
.flag{ font-size: 18px;}
.priority-low{color: #4CAF50;}
.priority-medium{color: blue;}
.priority-high{color: orange;}
.priority-urgent {color: red;}

.task-actions {
  position: absolute;
  top: 8px;
  right: 10px;
  display: flex;
  gap: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

}

.task-card:hover .task-actions{
  opacity: 1;
  pointer-events: auto;
}

.task-btn{
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 8px;
  font-size: 15px;
  background: #fff;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.9);
  transition: all 0.25s ease;
}

.edit-btn:hover{ background: #97c6f3;}
.delete-btn:hover{ background: #f89c9c;}
/*Animation*/
@keyframes fadeIn{
  from {opacity: 0; transform: translateY(5px);}
  to {opacity: 1; transform: translateY(0); }
}

/*Hide for right to left card when add*/
.hide{
  transform: translateX(100%);
  opacity: 0;
} 

/* Slide in (for new task) */
.slide-in{
  transform: translateX(0);
  opacity: 1; 
  /* */transition: transform 0.8s ease-out, opacity 0.8s ease-out; 

}
.slide-out{
   transform: translateX(100%);
   opacity:0;
   transition:transform 0.5s ease-in, opacity 0.5s ease-in;/* slower speed here */
  }  

  /*Floating Action Button (FAB)*/
  .fab{
  position: fixed;
  top:85vh; /* stick near the bottom of .todo-app */
  right: 20vh;
    width: 60px;
    height: 60px;
    border-radius:50%;
    background: linear-gradient(135deg, #6a5acd, #7b68ee);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    box-shadow: 0 6px 20px rgba(106, 90, 205, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
    animation: float 3s ease-in-out infinite;
  }

  /* Hover effect */
  .fab:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(46, 18, 230, 0.6);
  }
  /* Floating up-down animation*/
  /* @keyframes float {
    0%,100%{transform: translateY(0);}
    50%{transform: translateY(-6px); }
  } */
  /* Plus sign small bounce*/
  .plus{
  width: 36px;
  height: 36px;
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
  }
  .fab:hover .plus{
    transform: rotate(90deg);
  }
  .fab.clicked{
    animation: pulse 0.3s ease;
  }

  @keyframes pulse{
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
  }

.completed-container{  
  display: flex;
  overflow-y: auto;
  overflow-x: visible;
  padding: 5px 5px 40px 5px;
  background:#7ba6fa ;
  border-radius: 10px;
  flex-direction: column;
  gap: 12px;
  }
.completed-container.hidden{
  display: none;
}
  .completed-container.show{
    display: flex;
  }
  /* Confirm Modal */
  .confirm-overlay{
    position: fixed;
    top:0 ;left:0;
    width: 100%;height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
  }

  .confirm-overlay.show{
    visibility: visible;
    opacity: 1;
  }
  .confirm-box{
    background: #fff;
    border-radius: 14px;
    padding: 22px;
    width: 90%;
    max-width: 320px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2) ;
    animation: popIn 0.3s ease;
  }
  @keyframes popIn {
    from { transform: scale(0.9);opacity: 0; }
    to{ transform: scale(1);opacity: 1;}
  }
  .confirm-box h3{
    margin: 0 0 10px;
  }
  .confirm-actions{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
  }
  .confirm-btn{
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    border:none;
    cursor: pointer;
  }
  .confirm-yes{ background: #ef4444;color: white;}
  .confirm-no{ background: #c7cad1; }
 
#toast{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  /* background: #1e293b;
  color: white;
  transform: translateX(-50%) translateY(100%);
  border-radius: 12px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
  z-index: 200; */
  }

  .toast-message{
    display: flex;
    align-items: center;/* vertically center text & button */
    justify-content: center;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    min-width: 240px;
    max-width: 90vw; 
    justify-content: center;
    margin-top: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
    text-align: center;
    gap: 12px; /* 🔥 automatic spacing between message and Undo */
       transition: opacity 0.45s ease,transform 0.45s cubic-bezier(0.22, 1, 0.36, 1)  ;
     /* 👇 full animation using keyframes */
      animation: toastSlide 4s ease forwards;

  }
  @keyframes toastSlide {
    0%{ opacity: 0;
        transform: translateY(25px)scale(0.95);
    }
    12% {
        opacity: 1;
        transform: translateY(-3px) scale(1.04);
      }
    22% {
         opacity: 1;
         transform: translateY(0) scale(1);  /* settle down */
     }
      80% {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
      100% {
        opacity: 0;
        transform: translateY(25px) scale(0.95);
      }
  }

  /* .toast-warning{background:#DC2626;} */
   .toast-warning{background:#1e293b;}
   .toast-all{background: #ef4444;}
  .toast-edit{background: #16A34A;}
  .toast-demo{background: linear-gradient(135deg, #6a11cb, #2575fc);}

  .undo-btn{
    background: none;
    border: none;
    margin-left:14px;
    color: #60a5fa;
    font-weight: 600;
    cursor: pointer;
  }
  /*Overlay*/
  #overlay{
     font-family: "Poppins", sans-serif;
     position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn .25s ease;
    z-index: 100;
  }
  .modal{
    width: 320px;
    background: #1f1f35;
    border-radius: 18px;
    padding: 22px;
    color: white;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    animation:popIn .25s ease ;
  }
 .modal-header{
  display:flex ;
  justify-content: space-between;
  font-size: 23px;
  font-weight:bold;
 }
 .close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #2d2d47;
  padding: 12px 12px;
  border-radius: 10px;
  transition: 0.2s;
 }
.close-btn:hover{
  background:#e81123;
}
.share-icons{
   display: flex;
   gap: 14px;
   margin: 18px 0;
}
.icon-box{
  width:55px;
  height: 53px;
  background: #2b2b46;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;

}
.icon-box:hover{
  background: #37375a;
  transform: translateY(-3px);
}
/* Copy button*/
.copy-box{
   background: #2b2b46;
   padding: 12px;
   border-radius: 12px;
   text-align: center;
   cursor: pointer;
   margin-top: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6px;
   transition: .2s;
}
.copy-box:hover{
  background: #37375a;
}



 /* Responsive adjustment */
@media(max-width:480px){

   /* Switch buttons */
  .text-btn { display: none; }
  .icon-btn { display: inline-block; }
    .fab {
    position: fixed; /* normal fixed for mobile */
    bottom: 5vh;
    right: 5vh;
  }
  .todo-app{ 
    width: 90%;
    padding: 15px;
  }
 .btn-cancel, .btn-add {
    font-size: 24px;
  }
 
}

